:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(227, 22%, 51%);
  --color-primary: hsl(176, 81%, 53%);
  --color-black: hsl(227, 71%, 22%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--color-black);
  font-family: 'Lato', sans-serif;
}

.button {
  padding: 0 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: grid;
  align-items: center;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-black);

}