:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(227, 22%, 51%);
  --color-primary: hsl(176, 81%, 53%);
  --color-black: hsl(227, 71%, 22%);
  --color-red: hsla(0, 80%, 52%, 1);
  --color-green: hsla(115, 81%, 29%, 1);
  --color-background: linear-gradient(180deg, rgba(206, 229, 240, 0.3) 0%, rgba(243, 248, 250, 0.61) 0.01%, rgba(249, 253, 252, 0) 100%), #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--color-black);
  font-family: 'Lato', sans-serif;
  background: var(--color-background);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;    
}

.button {
  padding: 0 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: grid;
  align-items: center;
  height: 38px;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-black);
}
.secondary {
  color: var(--color-gray);
}
.danger {
  color: var(--color-red);
}
.success {
  color: var(--color-green);
}