.table_container {
    overflow-x: auto;
    background-color: var(--color-white);
   box-shadow: 3px -5px 20px 17px rgba(33, 165, 157, 0.03); 
    padding: 40px;
    border-radius: 35px;
}

table {
    width: 100%;
}


th {
    text-align: left;
    padding-bottom: 30px;
}

tr {
    height: 60px;
}